<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">    
    <title>Listi</title>
</head>

<body>
    <div class="container">      
        <div class="inner-container">
            <div> 
            <h1 class="center-text">fræðslumyndbandaleigan </h1> </div>
            
            <h2> Nýleg myndbönd</h2>
            <div class="parent">                
                <% videos.forEach(function(video) { %>
                <div class="child">
                    <a href="videos/<%= video.id %>">
                        <img src="<%= video.poster %>">
                    </a>
                    <h3><%= video.title %></h3>
                    <p><%= video.created %></p>
                </div>
                <% }) %>
            </div>
            <hr>
            <h2> Kennslumyndbönd </h2>
            <div class="parent">                
                <% videos.forEach(function(video) { %>
                <div class="child">
                    <a href="videos/<%= video.id %>">
                        <img src="<%= video.poster %>">
                    </a>
                    <h3><%= video.title %></h3>
                    <p><%= video.created %></p>
                </div>
                <% }) %>
            </div>
            <hr>
            <h2> Skemmtimyndbönd</h2>
            <div class="parent">                
                <% videos.forEach(function(video) { %>
                <div class="child">
                    <a href="videos/<%= video.id %>">
                        <img src="<%= video.poster %>">
                    </a>
                    <h3><%= video.title %></h3>
                    <p><%= video.created %></p>
                </div>
                <% }) %>
            </div>
            <hr>    
</body>
</html>