<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">    
    <title>Listi</title>
</head>

<body>
    <div class="container">      
        <div class="inner-container">
            <div class="parent">
                <div class="child-large">
                    <h1 class="center-text"> <%= video.title %> </h1>
                    <video src="../<%= video.video %>" controls></video>                               
                    <p ><%= video.description %></p>
                    <h2>Tengd myndbönd</h2>
                </div>
                <% for (let i = 0; i < videos.videos[video.id - 1].related.length; i++) { %> 
                <div class="child">                                 
                    <img src="../<%= videos.videos[videos.videos[video.id-1].related[i] - 1].poster %>">  
                    <h3><%= videos.videos[videos.videos[video.id-1].related[i] - 1].title %>"</h1>   
                </div> 
                <% } %>      
            </div>
        </div>
    </div>    
</body>
</html>