<%- include('header') -%>
    <div class="parent">
        <div class="child-large">                    
            <video src="<%= video.video %>" controls></video>                               
            <p ><%= video.description %></p>
            <h2>Tengd myndbönd</h2>
        </div>
        <% for (let i = 0; i < videos.videos[video.id - 1].related.length; i++) { %> 
        <div class="child">  
            
            <a href="<%= videos.videos[videos.videos[video.id-1].related[i] - 1].id %>">
                <img src="<%= videos.videos[videos.videos[video.id-1].related[i] - 1].poster %>">  
            </a>
            <h3><%= videos.videos[videos.videos[video.id-1].related[i] - 1].title %>"</h1>   
        </div> 
        <% } %>      
        
    </div>
    <hr>
    
<%- include('footer') -%>